<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://cdn.bootcss.com/leaflet/1.3.4/leaflet.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/leaflet/1.3.4/leaflet.js"></script>
    </head>
    
    <body>
        <h2>Typhoon WebGIS Demo</h2>

        <ul>
            <li><a href="/">HomePage</a></li>
            <li><a href="/measure" target="_blank">Measure Distance</a></li>
            <li><a href="#" onclick="showBar()" style="text-decoration:underline">Fast Locate</a></li>
            <li class="right"><a href="/about" target="_blank">About</a></li>
            <li class="right"><a href="https://github.com/NuodaY/webgis" target="_blank">Github Page</a></li>
            <li><a href="/lookUpTyphoon">Look up typhoons</a></li>
        </ul>
        
        <div id="side-bar" style="display:none">
            <button onclick="closeBar()">Close</button>
            {{#each Cities}}
            <li class="side-bar-element">
                <p class="cityName" onclick="reLocate(this.innerHTML)">{{this.en_name}}</p>
            </li>
            {{/each}}
        </div>

        <div id="map" style="width:100%;height: 600px;"></div>
        <p hidden id="points">{{Latlngs}}</p>
        <p hidden id="names">{{Name}}</p>
        <p hidden id="cities">{{StrCities}}</p>
        <p hidden id="colours">{{Colour}}</p>

        <script> 
            // 地图被点击，显示经纬度
            function mapClicked(e){
                popup
                    .setLatLng(e.latlng)
                    .setContent("N: " + e.latlng.lng.toFixed(2) + " E: " + e.latlng.lat.toFixed(2))
                    .openOn(map);
            }

            // 显示侧边栏
            function showBar(){
                if(isClicked == 0){
                    document.getElementById("side-bar").style.display = "block";
                    isClicked = 1;
                }
                else{
                    closeBar();
                }
            }

            // 关闭侧边栏
            function closeBar(){
                document.getElementById("side-bar").style.display = "none";
                isClicked = 0;
            }

            function reLocate(cityName){
                var allCities = document.getElementById("cities").innerHTML;
                allCities = JSON.parse(allCities);
                for(var city in allCities){
                    if(allCities[city].en_name == cityName){
                        mapCenter[0] = allCities[city].N;
                        mapCenter[1] = allCities[city].E;
                        map.flyTo(mapCenter, 6);
                        dest = L.marker(mapCenter, {icon: destIcon}).addTo(map);
                    }
                }
            }

            // 定义卫星图层
            var mapboxUrl = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw';
            var satellite = L.tileLayer(mapboxUrl, { id: 'mapbox.satellite' });
            var isClicked = 0;
            var mapCenter = [25, 125];
            var dest;

            // 创建地图实例
            var map = L.map('map', {
                center: mapCenter,
                zoom: 4,
                // 展示卫星地图
                layers: satellite
            });
            
            // 通过layer control来实现图层切换UI
            // https://leafletjs.com/examples/layers-control/
            var baseLayers = {
                "Satellite": satellite
            };
            L.control.layers(baseLayers).addTo(map);

            var typhoonIcon = L.icon({
                iconUrl: "http://pic.90sjimg.com/design/03/57/50/04/5d511012e7ae9.png!/fw/325/quality/90/unsharp/true/compress/true/canvas/325x322a0a0/cvscolor/FFFFFFFF",
                iconSize: [40, 40]
            })

            var destIcon = L.icon({
                iconUrl: "https://leafletjs.com/examples/custom-icons/leaf-red.png",
                iconSize: [20, 50]
            })

            // 获取台风经纬数据
            var Latlngs = document.getElementById("points").innerHTML;
            var Names = document.getElementById("names").innerHTML;
            var Colours = document.getElementById("colours").innerHTML;

            Latlngs = JSON.parse(Latlngs);
            Names = Names.split(",");
            Colours = Colours.split(",");
            // 获取数据键
            var LatlngKeys = Object.keys(Latlngs);
            // 遍历
            var i = 0;
            for(var typhoonID in Latlngs){
                marker = L.marker(Latlngs[typhoonID][0], {icon: typhoonIcon}).addTo(map);
                polyline = L.polyline(Latlngs[typhoonID], { color: Colours[i] }).addTo(map);
                marker.bindPopup("Typhoone ID: " + LatlngKeys[i] + "\nName: " + Names[i]).openPopup();
                i += 1;
            }

            var popup = L.popup();
            map.on('click', mapClicked);

        </script>
    
    </body>

</html>